
*{
  margin-top: 50px;
  font-family: "kids";
}

@font-face {
  font-family: "kids" ;
  src: url(assets/MouseMemoirs-Regular.ttf);
}

#workSt{
  position: relative;
  left: 350px;
  top: 80px;
  width: 600px;
  height: 300px;
  background-color: aqua;

}

#TP{
  margin-left: 240px;
  font-size: 30px;
}

#quoteDisplay{
  justify-content: center;
  margin-left: 30PX ;
  text-align: center;
}




#quoteInput{
  justify-content: center;
  margin-left: 200px;
  width: 200px;
  height: 20px;
  border-color: grey;
  border: 1px;
  border-radius: 30px ;

}

#quoteInput:focus{
  outline: 0px;
  border: 0px;
}





.correct {
    color: green;
}
  
.incorrect {
    color: red;
    text-decoration: underline;
  }
    